body {
    background-color: #C1E0FF;
}
img {
    width: 250px;
    border-radius: 50%;
}
h1 {
    position: absolute;
    left: 280px;
    top: 100px;
}
h2 {
    position: absolute;
    left: 280px;
    top: 180px;
}
